
{% block %}
    {% client %}(how is the weather in|weather in)(?P<query>.*){% endclient %}
    {% response %}{% call weather: %query %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(Do you know|Do you have any idea)(?P<query>.*){% endclient %}
    {% response %}{% call do_you_know: %query %}{% endresponse %}
{% endblock %}
