{% block %}
    {% client %}(Do you know about|who is|what is) (?P<query>.*){% endclient %}
    {% response %}{% call Wiki: %query %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(Do you know|Do you have any idea) (?P<query>.*){% endclient %}
    {% response %}{% call do_you_know: %query %}{% endresponse %}
{% endblock %}
